body {
  margin: auto;
  font-family: 'Roboto';
  text-align: center;
}

img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.padding {
  padding-top: 30px
}

.text {
  font-family: 'Roboto';
  color: black;
}

.smaller{
  font-size:80%;
}
button, input[type="submit"] {
    font-family: 'Roboto';
    background-color: #8e7cc3;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}
